APP_ENV=local
APP_PORT=8000
#APP_TIMEZONE=Asia/Manila
APP_TIMEZONE=UTC
APP_DEBUG=true

DB_USER=root
DB_PASS=
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=go_nextjs_dashboard

LOG_LEVEL=debug
LOG_FORMAT=json
LOG_OUTPUT=file
LOG_PATH=./logs/app.log

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_SKIP_TLS_VERIFY=
